
#projects-menu {
    display: none;
    /*width: 2rem;*/
    /*height: 2rem;*/
    /*border: 1px solid lightgray;*/
}

.remove-button {
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
}

.project-list-element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    transition: background-color 0.1s;
    cursor: pointer;
    padding-left: 1rem;
    border-radius: 0.5rem;
}

.project-list-element.active {
    color: black;
}

.project-list-element:hover .remove-button {
    opacity: 100%;
}

.project-list-element:hover {
    background-color: whitesmoke;
}

.remove-button {
    background-color: transparent;
}

.remove-icon {
    color: lightgray;
    transition: color 0.1s;
}

.remove-button:hover .remove-icon {
    color: #ff3838;
}

.remove-button:hover {
    background-color: whitesmoke;
}

.project-text {
    margin: 0;
    word-wrap: anywhere;
}

#project-window {
    height: 100%;
    padding-inline: 1rem;
    z-index: 5;

    /*flex-basis: 20rem;*/

    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    background-color: white;
}

#project-window > hr {
    width: 100%;
}

#project-window-header {
    margin: 0;
    padding: 0;
}

#project-list {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
}

#add-project-button {
    padding: 0;
    align-self: center;
    width: 100%;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.1s;

    cursor: pointer;
}

#add-project-button:hover {
    background-color: lightgray;
}

#project-window-close-button {
    display: none;
}

#new-project-window {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.inline-button-container{
    display: flex;
}

#new-project-name {
    padding-inline: 1rem;
    border: solid lightgray 1px;
    border-radius: 0.2rem;
    width: 100%;
}

#new-task-input {
    padding-inline: 1rem !important;
}

@media (max-width: 460px) {
    #project-window {
        padding-top: 2rem;
        display: none;
        width: 100%;
    }

    #project-window.show {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
    }

    #tasks-window {
        width: 100%;
    }

    #projects-menu {
        display: block;
    }

    #project-window-close-button {
        display: block;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remove-button {
        opacity: 100%;
    }
}

@media (max-width: 870px){
    #project-window{
        flex-shrink: 0.5;
    }
    #tasks-window{
        flex-shrink: 1.5;
    }
}

@media (max-width: 666px){
    #project-window{
        flex-shrink: 1.2;
    }
    #tasks-window{
        flex-shrink: 0.8;
    }
}