
.task {
    display: flex;
    gap: 0.5rem;
    padding-block: 0.2rem;
    padding-inline: 1rem;
    width: 100%;

    justify-content: space-between;
    align-items: center;
}

.task-content {
    display: flex;
    gap: 1rem;
}

.remove-task-button {
    opacity: 0;
    cursor: pointer;
}

.task:hover .remove-task-button {
    opacity: 100;
}

.remove-task-button:hover {
    color: #ff3838;
}

#tasks-window {
    padding: 2rem;
    width: 80%;
}

#task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.task:hover {
    background-color: whitesmoke;
    border-radius: 0.1rem;
}

.task-text {
    margin: 0;
    font-size: 1.1rem;
}

.checker {
    width: 0.5rem;
    align-self: flex-start;
    margin-top: 0.3rem;
    margin-right: 0.2rem;
}

#tasks-window-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#new-task-input {
    padding: 0.5rem;
    width: min(500px, 100%);
    border-radius: 0.5rem;
    border: 1px solid lightgray;
}

.new-task-container {
    display: flex;
    gap: 0.5rem;
}

@media (max-width: 460px) {

    #tasks-window {
        padding: 2rem;
        width: 100%;
    }

    .new-task-container {
        position: absolute;
        left: 0;
        bottom: 1rem;
        margin: auto 0;
        align-self: center;
        justify-self: center;
        width: 100%;
        padding-inline: 2rem;
        z-index: 1;
    }

    .remove-task-button {
        opacity: 100;
        cursor: pointer;
    }
}
